.header{
    background-color: $header-bg;
    display: flex;
    align-items: center;
    padding: 0.7rem;

    &-logo{
        
        i{
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
            color: #fff;
            font-size: 2.5rem;
        }
    }

    &-search{
        position: relative;
        input{
            background-color: hsla(0, 0%, 100%, .125);
            width: 19rem;
            height: 1.3rem;
            padding: 0.5rem;
            font-size: 0.8rem;
            color: #fff;
            border: none;
            margin-right: 1rem;
            border-radius: 0.4rem;
        }
        i{
            position: absolute;
            right: 1.8rem;
            top:0.2rem;
        }
    }
    &-links{
        a{
            color: #fff;
            margin-right: 16px;
            font-size: 0.8rem;
        }
    }
    &-rightLinks{
        margin-left:auto;
        i{
            
            padding: 0rem 0.5rem;
            color: #fff;
            margin-left: 0.4rem;
        }
    }
}